* {
    padding: 0;
    margin: 0;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }
  header {
    display: flex;
    flex-flow: column;
    background-color: #4CAF50;
    position: absolute;
    top: 0;
    width: 100vw;
  }
  header .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }
  header .header-top a {
    padding: 0 20px;
  }
  header ul, header ul a, header ul a li{
    height: 100%;
  }
  header ul.mobile-visible {
    display: block;
  }
  header ul.mobile-hidden {
    display: none;
  }
  header ul li {
    list-style: none;
    background-color: #333;
    padding: 20px 20px;
  }
  header ul li:hover {
    background-color: grey;
  }
  a, a:visited, a:hover {
    color: white;
    text-decoration: none;
  }
  section {
    margin-top: 60px;
    color: grey;
  }
  
  @media screen and (min-width: 600px) {
    header {
      flex-flow: row;
      justify-content: space-between;
    }
    header .icon {
      display: none;
    }
    header ul, header ul.mobile-visible, header ul.mobile-hidden, header ul li {
      display: flex;
      flex-flow: row;
      align-items: center;
      height: 100%;
    }
    header ul li {
      background-color: #4CAF50;
      padding: 0px 20px;
    }
  }